<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>180-Evaluate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body id="evalPage">
    <h1 class="phaseHeader__eval debug">182-evaluate</h1>
    <div class="instructionsContainer debug">
        <h3 class="instructions debug">Which of these is <b>most </b>creative?</h3>
        <div class="choiceButton debug">
            <button class="choiceButton__A" style=vertical-align:middle " ><span>A</span></button>
            <button class="choiceButton__B " style=vertical-align:middle "><span>B</span></button>
        </div>
        <div class="listDisplay debug">
            <p class="listDisplay__A">List A</p>
            <p class="listDisplay__B">List B</p>
        </div>

    </div>
</body>

</html>