<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>183-Reflect:Same</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body id="reflectPage-same">

    <h1 class="phaseHeader__ref debug">183-reflect</h1>
    <div class="analysisContainer debug">
        <h3 class="instructions debug"><b>Birds of a feather flock together:</b></h3>
        <p class="instructions debug">
            You chose a list that is a
            <br><b>close match</b> to your own! <br> This might mean that you value the creativity of those who are like-minded to you.
        </p>
    </div>
    <div class="againButton">
        <button class="againButton__click" style="vertical-align:middle" onclick="window.location.href = 'index'"><span>again?</span></button>
    </div>
    <script src="./js/main.js"></script>
</body>

</html>