<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>180-analysis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/analysis.css">
</head>

<body>
    <div id="headerArea" class="debug">
        <!-- header title -->
        <!-- timer -->
    </div>

    <div id="analysis" class="debug">
        <div id="userTextArea" class="debug">
            <p id="userText"><span>ipsum dolor sit amet, <span style="background-color:yellow">consectetuer</span> adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <span style="background-color:pink">commodo consequat.</span> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
                nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</span>
            </p>
            <div id="categoriesArea" class="debug">
                <div id="categoryNameArea" class="debug">
                    <div class="categoryName debug">
                        <button class="categoryButton debug"></button>
                        <p id="process">process</p>
                        <p class="percent">50%</p>
                    </div>
                    <div class="categoryName debug">
                        <button class="categoryButton debug"></button>
                        <p id="person">person</p>
                        <p class="percent">50%</p>
                    </div>
                    <div class="categoryName debug">
                        <button class="categoryButton debug"></button>
                        <p id="product">product</p>
                        <p class="percent">50%</p>
                    </div>
                    <div class="categoryName debug">
                        <button class="categoryButton debug"></button>
                        <p id="press">press</p>
                        <p class="percent">50%</p>
                    </div>
                </div>
                <div id="circlegraph" class="debug">
                    <img id="placeholder" class="debug" src="/assets/circle_testgraphic.png" alt="circle graph">
                </div>
            </div>
            <p class="categoryDef">info about the category</p>
        </div>
        <div id="researchInfoContainer" class="debug">
            <p id="researchinfo">tation ullamcorper suscipit lobortis nisl ut aliquip ex Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</p>
        </div>

    </div>


    <script src="./js/experiment.js"></script>

</body>

</html>