<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>180-Create</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/create.css">
</head>

<body>
    <div id="headerArea" class="debug">
        <!-- header title -->
        <!-- timer -->
    </div>
    <div id="listInputArea" class="debug">
        <h3 id="listInstructions" class="debug">List all the different ways you could use a:<span class="object">cup</span></h3>
        <textarea id="listInput" placeholder="Type each use on a new line"></textarea>
        <button id="submitListButton" style="vertical-align:middle"><span>submit</span></button>
    </div>

    <script src="./js/experiment.js"></script>

</body>

</html>