<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>180-Evaluate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/evaluate.css">
</head>

<body>
    <div id="headerArea" class="debug">
        <!-- header title -->
        <!-- timer -->
    </div>
    <div id="selectionArea" class="debug">
        <h3 id="evalInstructions" class="debug">Between these two lists, which is the most creative?</h3>
        <div id="listsContainer">
            <div id="yourListArea" class="debug">
                <p>your list<br>your list <br> your list</p>
            </div>
            <button id="simListButton" class="listButton debug" style="vertical-align:middle">sim list <br> sim list <br> sim list</button>
            <button id="simListButton" class="listButton debug" style="vertical-align:middle">diff list <br> diff list <br> diff list</button>
        </div>
    </div>

    <script src="./js/experiment.js"></script>

</body>

</html>