<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>180-Create</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/home.css">
</head>

<body id="createPage">

    <h1 class="phaseHeader debug">experiment</h1>
    <div id="userListInput" class="debug">
        <h3 class="debug" id="mainInstructions"><b>In two minutes, list all the different ways you could use a:</b></h3>
        <h3 id="listCreationObject" class="object debug">cup</h3>
        <div id="listInputInstructions" class="instructionsContainer debug">
            <h3 id="listInputInstructions" class="instructions debug">Type each use on a new line.</h3>
        </div>

        <div id="listInputArea">
            <textarea id="listInput"></textarea>
            <div id="newPartButton" class="submitButton">
                <button class="button" id="makeNewPart" style="vertical-align:middle"><span>submit</span></button>
            </div>
        </div>
    </div>


    <div id="listComparisonArea" class="debug">
    </div>

    <div id="listChoiceReasonArea" class="debug">
    </div>

    <script src="./js/home.js"></script>
</body>

</html>