<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>180 Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/home.css">
</head>

<body id="home">
    <div class="all-content">
        <div class="headers">
            <h1 class="header debug">What is creativity?</h1>
            <h2 class="tagline debug">With this interactive experiment, <br>you might find some answers.</h2>
        </div>
        <div class="button-container debug">
            <button class="button" id="tutorialBtn" style="vertical-align:middle"><span>tutorial</span></a>
            <button class=" button" id="readyBtn" style="vertical-align:middle"><span>ready? </span></button>
        </div>
    </div>

    <script src="./js/home.js"></script>
</body>

</html>