<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>A5_Databases</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="./styles/main.js">-->
</head>

<body>
    <h1>Alternative Uses Task</h1>
    <p>Write down all the ways you could use a cup.
        <br>Type each use on a new line. </p>

    <h4>POST</h4>
    <textarea id="listInput"></textarea>
    <button id="makeNewPart">SUBMIT LIST</button>

    <h4>GET</h4>
    <button id="getParts">SEE ALL DATA</button>


    <h4>DELETE</h4>
    <button id="deletePart">OPT OUT</button>


    <p id="participantList"></p>
    <script src="./js/main.js"></script>
</body>

</html>