<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>180 Experiment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body id="indexPage">
    <h1 class="title debug">One Eighty</h1>
    <h2 class="subtitle debug">an experiment about creativity</h2>
    <div class="start debug">
        <button id="start__button" style="vertical-align:middle" onclick="window.location.href = '02_intro';"><span>start</span></button>
    </div>
</body>

</html>