<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>A5_Databases</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="./styles/main.js">-->
</head>

<body>
    <h1>Alternative Uses Task</h1>
    <p>Write down all the ways you could use a cup.
        <br>Type each use on a new line. </p>

    <h3>POST</h3>
    <textarea id="listInput"></textarea>
    <button id="makeNewPart">SUBMIT LIST</button>

    <h3>GET</h3>
    <button id="getParts">GET PARTICIPANTS</button>

    <!--<h3>PUT</h3>
    <label>FROM:</label>
    <input id="changeFrom" type="text"></input>
    <label>TO:</label>
    <input id="changeTo" type="text"></input>
    <button id="changePartID">CHANGE PARTICIPANT ID</button>-->

    <h3>DELETE</h3>
    <label>ID:</label>
    <input id="deleteID" type="text"></input>
    <button id="deletePart">DELETE PARTICIPANT</button>


    <p id="participantList"></p>
    <script src="./js/main.js"></script>
</body>

</html>