<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>180-Intro</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body id="introPage">
    <h3 id="introHeading">This is a three part experience where you will:</h3>
    <ul id="phases">
        <li>Create a list of ideas based on the prompt</li>
        <li>Evaluate the ideas of participants before you </li>
        <li>Reflect on your decision making</li>
    </ul>
    <button class="submitButton" onclick="window.location.href = 'create'" ";>ready?>></button>
</body>

</html>