<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>180 Tutorial</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/tutorial.css">
</head>

<body id="home">
    <div class="all-content">
        <div class="headers">
            <h1 class="header debug">This is a three-part experience:</h1>
        </div>
        <div class="info-container debug">
            <ol class="tagline debug">
                <li>Engage in a creativity exercise where you will think of alternative uses for a common object.
                </li>
                <li>Evaluate the creativity of those who came before you</li>
                <li>Reflect on why you’ve made specific choices </li>
            </ol>
            <p class="backend-info">Along the way, a neural network will analyze your responses*, so that at the end it can tell you more about what influences your thoughts on creativity. The more information you provide, the more detailed the analysis will be!</p>
            <p class="fine-print">*Any data submitted remains anonymous</p>
        </div>
        <div class="button-container debug">
            <!-- <button class="button" id="readyBtn" style="vertical-align:middle">Ready?</button> -->
            <button class="button" id="tutorialBtn" style="vertical-align:middle"><span>Ready? </span></button>
        </div>
    </div>


    <script src="./js/tut.js"></script>

</body>

</html>