<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>180-Intro</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body id="introPage">
    <h3 id="introHeading" class="debug">This is a three part experience where you will:</h3>
    <ul class="phasesList debug">
        <li><b>Create</b> a list of ideas based on the prompt</li>
        <li><b>Evaluate</b> the ideas of participants before you </li>
        <li><b>Reflect</b> on your decision making</li>
    </ul>
    <div class="submitButton debug">
        <button class="submitButton__ready" style="vertical-align:middle" onclick="window.location.href = '03_create'" ";><span>ready?</span></button>
    </div>
</body>

</html>