* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 16px;
}


/* .debug {
    border: 1px solid red;
} */

@font-face {
    font-family: AbrilFatface;
    src: url(/styles/fonts/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: Courier;
    src: url(/styles/fonts/CourierPrime-Regular.ttf);
}

@font-face {
    font-family: CenturyGothic;
    src: url(/styles/fonts/GOTHIC.TTF);
}

body {
    background-image: url(/assets/bkg2copy.png);
    background-size: 100% auto;
}


/* ANALYSIS CONTENT */

#analysis {
    display: flex;
    flex-direction: row;
}

#userTextArea {
    width: 50vw;
}

#userText {
    line-height: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.7em;
    text-align: justify;
    /* color: transparent; */
}

#userText span {
    padding: 0.2em;
    background-color: white;
}


/* CATEOGORIES DIV CONTAINS BUTTONS AND NAMES + CIRCLE GRAPHIC */

#categoriesArea {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#categoriesNameArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categoryName {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#process {
    font-family: AbrilFatface;
    font-size: 1.5rem;
    text-align: left;
}

#person {
    font-family: AbrilFatface;
    font-size: 1.5rem;
    text-align: left;
}

#product {
    font-family: AbrilFatface;
    font-size: 1.5rem;
    text-align: left;
}

#press {
    font-family: AbrilFatface;
    font-size: 1.5rem;
    text-align: left;
}

.percent {
    font-family: CenturyGothic;
    font-size: 1.5rem;
}

.categoryButton {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: linear-gradient(145deg, #dcdcdc, #b9b9b9);
    box-shadow: 7px 7px 14px #ababab, -7px -7px 14px #f1f1f1;
    transition: all 0.5s;
    cursor: pointer;
}


/* .categoryButton:active {
    color: white;
    background-color: transparent;
    border-radius: 21px;
    box-shadow: inset 14px 14px 29px #a1a1a1, inset -14px -14px 29px #fbfbfb;
} */


/* definition of category */

.categoryDef {
    font-family: CenturyGothic;
    text-align: left;
}


/* circle graphic, image as placeholder */

#placeholder {
    width: 300px;
    height: 300px;
}


/* right side research info */

#researchInfoContainer {
    display: flex;
    align-items: center;
    width: 25vw;
    height: 400px;
    border-radius: 21px;
    background-color: rgba(255, 0, 0, 0.2);
    box-shadow: inset 14px 14px 29px #a1a1a1, inset -14px -14px 29px #fbfbfb;
}

#researchinfo {
    font-family: CenturyGothic;
    color: gray;
    text-align: left;
}