
#classInput {
    width: 200px;
    height: 100px;
}

.phrase {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.phrase .phrase-info {
    visibility:hidden;
    width: 500px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: 200%;
    left: 30%;
    
}

.phrase:hover .phrase-info{
    visibility:visible;
}

