* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 16px;
}

.debug {
    border: 1px solid red;
}

@font-face {
    font-family: AbrilFatface;
    src: url(/styles/fonts/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: Courier;
    src: url(/styles/fonts/CourierPrime-Regular.ttf);
}

@font-face {
    font-family: CenturyGothic;
    src: url(/styles/fonts/GOTHIC.TTF);
}

body {
    background-image: url(/assets/bkg2copy.png);
    background-size: 100% auto;
}

#evalInstructions {
    font-family: CenturyGothic;
    font-size: 2rem;
    text-align: center;
    color: black;
}

#listsContainer {
    padding-left: 7vw;
    padding-right: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#yourListArea {
    width: 25vw;
    background-color: transparent;
    border-radius: 21px;
    box-shadow: inset 14px 14px 29px #a1a1a1, inset -14px -14px 29px #fbfbfb;
}

.listButton {
    border-radius: 21px;
    width: 25vw;
    background: linear-gradient(145deg, #dcdcdc, #b9b9b9);
    box-shadow: 7px 7px 14px #ababab, -7px -7px 14px #f1f1f1;
    transition: all 0.5s;
    cursor: pointer;
}

.listButton:hover {
    color: white;
    text-align: center;
    text-shadow: 0 0 25px white;
}

.listButton:active {
    color: white;
    background-color: transparent;
    border-radius: 21px;
    box-shadow: inset 14px 14px 29px #a1a1a1, inset -14px -14px 29px #fbfbfb;
}