* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 16px;
}

.debug {
    border: 1px solid red;
}

@font-face {
    font-family: AbrilFatface;
    src: url(/styles/fonts/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: OpenSans Regular;
    src: url(/styles/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Courier;
    src: url(/styles/fonts/CourierPrime-Regular.ttf);
}

body {
    background-color: #E6DDDF;
}

#mainInstructions {
    font-family: OpenSans Regular;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
    color: #363436;
    padding: 0;
    margin: 0;
}

.object {
    font-family: AbrilFatFace;
    font-size: 3em;
    color: #363436;
}

#listInputInstructions {
    padding: 0;
    font-family: OpenSans Regular;
    font-weight: lighter;
    text-align: left;
    font-size: 1rem;
    color: #363436;
}

.instructions {
    padding: 0;
    font-family: OpenSans Regular;
    font-weight: lighter;
    text-align: left;
    font-size: 1.5rem;
    color: #363436;
}

#listInput {
    height: 200px;
    width: 600px;
    text-align: left;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#listInputArea {
    display: flex;
    flex-direction: column;
    color: #363436;
}

.statusMessage {
    font-family: OpenSans Regular;
    font-size: 1 rem;
    color: green;
}

#choiceTextArea {
    height: 200px;
    width: 600px;
    text-align: left;
    color: #363436;
    font-family: 'Courier New', Courier, monospace;
}

#lists-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#yourListArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#yourListTitle {
    font-family: OpenSans Regular;
    color: #363436;
}

.list {
    font-family: 'Courier New', Courier, monospace;
    color: #363436;
}

#simListArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#diffListArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#finalMessage {
    color: green;
}

.button {
    display: inline-block;
    border: 2px solid #363436;
    background-color: transparent;
    color: #363436;
    text-align: center;
    font-family: OpenSans Regular;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 10px;
    right: 20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 20px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#userShow {
    color: #363436;
}