* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 16px;
}

.debug {
    border: 1px solid red;
}

@font-face {
    font-family: AbrilFatface;
    src: url(/styles/fonts/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: OpenSans Regular;
    src: url(/styles/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Courier;
    src: url(/styles/fonts/CourierPrime-Regular.ttf);
}

@font-face {
    font-family: CenturyGothic;
    src: url(/styles/fonts/GOTHIC.TTF);
}

body {
    background-color: #c6b9b9;
    background-image: url(/assets/bkg2copy.png);
    background-size: 100% auto;
    /* background-repeat: no-repeat; */
}

#header {
    font-family: AbrilFatface;
    font-size: 4.5rem;
    color: #363436;
    text-align: left;
    margin: 0;
    padding-top: 5vh;
    padding-left: 15vw;
}

.part1 {
    display: flex;
    flex-direction: column;
}

#mainInstructions {
    font-family: CenturyGothic;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: left;
    color: #363436;
    padding: 0;
    margin: 0;
}

#mug {
    width: 25vw;
}

.object {
    font-family: AbrilFatFace;
    font-size: 2.5rem;
    color: #363436;
    padding-top: 1rem;
}

#listInputInstructions {
    padding: 0;
    font-family: OpenSans Regular;
    font-weight: lighter;
    text-align: center;
    font-size: 1rem;
    color: #363436;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.instructions {
    padding: 0;
    font-family: OpenSans Regular;
    font-weight: lighter;
    text-align: center;
    font-size: 1.5rem;
    color: #363436;
}

#listInput {
    height: 30vh;
    width: 50vw;
    text-align: left;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    border-radius: 21px;
    box-shadow: inset 14px 14px 29px #a1a1a1, inset -14px -14px 29px #fbfbfb;
}

#listInputArea {
    display: flex;
    flex-direction: column;
    color: #363436;
}

.statusMessage {
    font-family: OpenSans Regular;
    font-size: 1 rem;
    color: green;
}

#choiceTextArea {
    height: 200px;
    width: 600px;
    text-align: left;
    color: #363436;
    font-family: 'Courier New', Courier, monospace;
}

#lists-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20vw;
    padding-right: 20vw;
}

#yourListArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 21px;
}

#yourListTitle {
    font-family: OpenSans Regular;
    color: #363436;
}

.list {
    font-family: 'Courier New', Courier, monospace;
    color: #363436;
}

#simListArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#diffListArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#selected {
    font-family: OpenSans Regular;
    color: green;
}

#incentiveMess {
    font-family: OpenSans Regular;
    font-size: .95rem;
    text-align: center;
    color: #363436;
    margin: 0;
    padding-left: 0;
    padding-bottom: 1rem;
}

#finalMessage {
    color: green;
}

.button {
    margin-top: 1rem;
    /* margin-left: 50vw; */
    display: inline-block;
    /* border: 2px solid #363436; */
    /* background-color: transparent; */
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-left: .5rem;
    padding-right: 1rem;
    color: #363436;
    text-align: center;
    font-family: CenturyGothic;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(145deg, #dcdcdc, #b9b9b9);
    box-shadow: 7px 7px 14px #ababab, -7px -7px 14px #f1f1f1;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 10px;
    right: 20px;
    transition: 0.5s;
    color: white;
    text-shadow: 0 0 15px white;
}

.button:hover span {
    /* padding-right: 20px; */
    color: white;
    text-shadow: 0 0 15px white;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#userShow {
    color: #363436;
}